<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/a78c7693-534a-4a5c-8b80-866261b06803/resourcegroups/eventoncontainersrg/providers/Microsoft.Web/sites/eventsoncontainerWebMvc</ResourceId>
    <ResourceGroup>eventoncontainersrg</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://eventoncontainerwebmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/a78c7693-534a-4a5c-8b80-866261b06803/resourcegroups/eventoncontainersrg/providers/Microsoft.ContainerRegistry/registries/registry20180823063110</ContainerResourceId>
    <ContainerResourceName>registry20180823063110</ContainerResourceName>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180823063110.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>944e1dcb-5d81-4343-adc2-2c81c329bd7f</ProjectGuid>
  </PropertyGroup>
</Project>